# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# PyInstaller
build/
dist/
*.spec.bak

# Данные лаунчера
apps.json
settings.json
presets.json
profiles.json
stats.json
games_cache.json
launcher.log
sgdb_cache.json
sgdb_url_cache.json

# Кэши
.cover_cache/
.game_covers/
backups/

# IDE
.idea/
.vscode/
*.swp

# OS
Thumbs.db
.DS_Store

# Секреты
.env